.data-entry-form {
    width: 500px;
    padding: 0px;
    margin: 250px auto 250px;
    background-color: #ddd;
    border-radius: 20px;
    color: #555;
    text-shadow: 0px 0px 1px gray;
    box-shadow: 0px 0px 3px #333;
}

.data-entry-form h3 {
    font-size: 35px;
    padding: 20px 0px 0px 0px;
    text-align: center;
    margin-bottom: 20px;
}

.data-entry-form hr {
    margin: 10px 40px 10px 40px;
}

.data-entry-form .area {
    margin: 0px 40px 20px 40px;
}

.data-entry-form label {
    font-size: 25px;
}

.data-entry-form .text-box {
    width: 416px;
    font-size: 30px;
    outline: none;
}

.data-entry-form .button {
    font-size: 18px;
    width: 200px;
    height: 50px;
    padding: 5px;
    border-radius: 5px;
    background-color: #666;
    color: #eee;
    margin-bottom: 20px;
    outline: none;
}

.data-entry-form .button:hover{
    background-color: #444;
}

.data-entry-form .left-button {
    margin-right: 15px;
}

.data-entry-form .error {
    color: red;
    text-align: center;
}
